body {
    background-image: url("sky.jpg");
    background-size: cover;
    height: 100%;
}
.container-fluid {
    padding: 0;
}

.custom-nav-style {
    background-color: #8ecae698;
}

.site-title {
    font-family: 'Teko', sans-serif;
    font-size: 2.5rem;
    margin-left: 16px;
}

.nav-link {
    font-size: 1.5rem;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0;
}

.navbar-item {
    padding-right: 10px;
    margin-left: 16px;
}

.jumbotron {
    padding-top: 1rem;
    margin: 0 16px;
    min-height: calc(100vh - 174px);
}

.content-title {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    padding: 1rem 0;
}

.page-title {
    word-break: break-all;
}

.content {
    background-color: #8ecae698;
    border-radius: 25px;
}

.box-title {
    padding: 0.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
}

.welcome-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.event-box {
    background-color: #023047;
    border-radius: 25px;
    color: white;
}

.accordion {
    border-radius: 25px;
}

.accordion-item {
    border-radius: 25px;
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.accordion-button {
    border-radius: 25px;
    height: 5rem;
    white-space: nowrap;
}

.button-txt {
    overflow: hidden;
    text-overflow: ellipsis;
}

.a-check {
    float: right;
}

.accordion-item:first-of-type {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.accordion-item:last-of-type {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.accordion-body {
    color: #000000;
}

.button-div {
    text-align: center;
}

.form {
    text-align: center;
    padding: 2rem;
}

.form-group > a {
    display: block;
}

label:nth-child(4) {
    display: inline;
    line-height: 3rem;
}

label {
    display: block;
    font-size: 1.5rem;
}

.form-control {
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 300px;
}

#id_description {
    width: 50%;
}


.img_field {
    margin-left: 2rem;
}

#image-clear_id {
    display: inline-block;
    margin: 0 auto;
}

.errorlist {
    list-style-type: none;
}

.help-block {
    color: red;
    display: block;
    padding-bottom: 20px;
}

.btn-old-events {
    float: right;
    margin: 1rem;
    width: 10rem;
}

.card {
    border-radius: 25px;
    height: 400px;
    margin: 0.5rem;
}

.img-container {
    position: relative;
}

.card-img-top {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: block;
    object-fit: cover;
    opacity: 1;
    width: 100%;
    height: 10rem;
    transition: .5s ease;
    backface-visibility: hidden;
}

.fade-in-box {
    transition: .5s ease;
    opacity: 0.1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.img-container:hover .card-img-top {
    opacity: 0.3;
}

.img-container:hover .fade-in-box {
    opacity: 1;
}

.time-box {
    background-color: #ffb703;
    border-radius: 25px;
    color: #000000;
    font-size: 16px;
    opacity: 0.8;
    padding: 16px 32px;
}

.oneliner {
    display: block;
}

.card-title {
    height: 2rem;
    overflow:hidden;
}

.card-description {
    height: 7rem;
    overflow:auto;
}


.btn-holder {
    position: absolute;
    bottom:   0;
    width: 90%;
}

.card-btn {
    position: relative;
    bottom:   0;
    border-radius: 25px;
    display: inline-block;
    font-size: small;
    margin: 1rem 0;
    width: 100%;
}

.spaced-out {
    word-break: break-all;
    padding: 2rem;
}

.detail-image {
    border-radius: 50px;
}

.footer {
    background-color: #fac849;
    margin-top: 1rem;
    margin-bottom: -50px;
    text-align: center;
    width: 100%;
    height:10%;
}

.footer > a {
    font-size: 2rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    opacity: 0.7;
    text-decoration: inherit;
}

.footer > a:hover {
    opacity: 1;
}

@media (max-width:992px) {
    .event-box {
        margin-top: 20px;
    }
    #id_description {
        width: 80%;
    }

    .fade-in-box {
        opacity: 1;
    }

    .footer > a {
        padding: 0.5rem 3rem;
    }
}
